* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  background-color: #3A4F57;
}

main {
  background-color: #DBA04D;
}

header {
  max-width: 1200px;
  width: 90%;
  margin: 50px auto;
  display: flex;
  color: #F6F6F6
}

header h5 {
  letter-spacing: .5px;
}

#personal-info {
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 35%;
  font-family: 'Fira Sans Condensed', sans-serif;
}

#personal-info h1 {
  color: #D8973C
}

.social {
  width: 15rem;
  margin: 10px auto;
}

.social a {
  color: #A4243B
}

.social span {
  padding: 0 5px;
}

.social span:hover {
  color: #871E31;
  cursor: pointer;
}

.intro {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  display: inline-block;
  width: 100%;
  max-width: 55%;
}

#intro .greeting {
  margin: 10px 0;
  font-weight: 200;
}

h1 {
  margin: 10px 0px;
}

#locale {
  margin: 5px 0px;
}

#projects-group {
  max-width: 1150px;
  width: 90%;
  margin: 0 auto;
}

#projects-group .project-block {
  display: flex;
  align-items: center;
  padding-bottom: 75px;
}

#projects-header {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 200%;
  text-align: center;
  line-height: 150%;
  height: 3.5em;
  padding: 30px 0;
  /*background-color: #A4243B;*/
}

.proj-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 135%;
  display: inline-block;
  margin-bottom: 10px;
}

.proj-screenshot .proj-summary {
    width: 100%;
    max-width: 45%;
}

.right {
  margin-left: 10%;
}

.left {
  margin-right: 8%;
}

/*#logical-fallacy {
  padding-bottom: 50px;
}*/

.project-tech {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}

main p {
  font-family: 'Fira Sans', sans-serif;
}

footer {
  max-width: 70%;
  margin: 0 auto;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: center;
  color: #F6F6F6;
  letter-spacing: .5px;
  margin: 30px auto;
}

@media (max-width: 1020px) {
  header {
      display: block;
  }
  #personal-info {
    display: block;
    max-width: 80%;
    margin: 0 auto;
  }
  .intro {
    display: block;
    max-width: 95%;
    text-align: center;
    margin: 0 auto;
  }
  #intro .greeting {
    margin: 50px 0 10px;
  }
  .project-block {
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
  }
  .proj-summary {
    width: 450px;
    max-width: 100%;
    order: 2;
  }
  .proj-screenshot {
    max-width: 90%;
  }
  .right {
    margin-left: 0;
  }
  .left {
    margin-right: 0;
  }
}

@media (max-width: 650px) {
  .proj-screenshot>img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 550px) {
  main {
    width: 100%;
  }
  .about {
      max-width: 90%;
  }
  .project-block {
      max-width: 90%;
  }
  .proj-screenshot {
      max-width: 90%;
  }
  .proj-title {
      text-align: center;
  }
}
