* {
    box-sizing: border-box;
    margin: 0;

}
html, body {
    height: 100%;
    background-color: #3A4F57;
}
main {
  background-color: #DBA04D;
}
header {
    max-width: 1000px;
    width: 100%;
    margin: 50 auto;
    display: flex;
    color: #F6F6F6
}
header h5 {
  letter-spacing: .4px;
}
#personal-info {
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 35%;
    font-family: 'Fira Sans Condensed', sans-serif;
}
#personal-info h1 {
  color: #D8973C
}
.social {
    width: 15rem;
    margin: 10 auto;
}
.social a {
  color: #A4243B
}
.social span {
  padding: 0 5px;
}
.social span:hover {
  color: #871E31;
  cursor: hand;
  cursor: pointer;
}
#about {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    display: inline-block;
    width: 100%;
    max-width: 55%;
}
#about .greeting {
    margin: 10px 0;
    font-weight: 200;
}
h1 {
    margin: 10px 0px;
}
#locale {
    margin: 5px 0px;
}
#projects-group {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
#projects-group .project-block {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
#projects-header {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 200%;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 30px;
}
.proj-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    display: inline-block;
}
.proj-screenshot .proj-summary {
    width: 100%;
    max-width: 45%;
}
.right {
    margin-left: 5%;
}
.left {
    margin-right: 5%;
}
#project-4 {
  margin-bottom: 0px;
  padding-bottom: 50px;
}
.project-tech {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}
main p {
    font-family: 'Fira Sans', sans-serif;
}
footer {
    max-width: 70%;
    margin: 0 auto;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
    color: #F6F6F6;
    letter-spacing: .5px;
}
#footer-name {
  margin-bottom: 25px;
}
@media (max-width: 1020px) {
    header {
        display: block;
    }
    #personal-info {
        display: block;
        max-width: 80%;
        margin: 0 auto;
    }
    #about {
        display: block;
        width: 450px;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    #about .greeting {
      margin: 50px 0 10px;
    }
    .project-block {
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;
    }
    .proj-summary {
        width: 450px;
        max-width: 100%;
        order: 2;
    }
    .proj-screenshot {
        max-width: 100%;
    }
    .right {
        margin-left: 0;
    }
    .left {
        margin-right: 0;
    }
}
@media (max-width: 550px) {
    #about {
        max-width: 90%;
    }
    .project-block {
        max-width: 90%;
    }
    .proj-title {
        text-align: center;
    }
}
@media (max-width: 450px) {
  header {
    margin: 50px auto;
  }
  #about {
      max-width: 80%;
  }
  .project-screenshot {
      max-width: 80%;
  }
  .proj-title {
      text-align: center;
  }
}
